

@keyframes movePicture {
    from {
        margin-top: 0;
        margin-left: 0;
    }
    20% {
        margin-top: 30%;
        margin-left: 0;
    }
    40% {
        margin-top: 30%;
        margin-left: 75%;
    }
    60% {
        margin-top: 0;
        margin-left: 75%;
    }
    80%{
        margin-top: 15%;
        margin-left: 35%;
    }
    to {
        margin-top: 0;
        margin-left: 0;
    }
}

.picture {
    position: absolute;
    margin-top: 0;
    margin-left: 0;
    animation: movePicture 5s infinite;
}